:root {
    --hero-bg-color: #2F303A;
    --black-color: #000000;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --button-bgc-color: #F5F4FA;
    --button-hover: #188CE8;
    --footer-bg-color: #2F303A;
    --adress-link-color: rgba(255, 255, 255, 0.6);
    --items: 3;
    --indent: 30px;
}
body {
    margin: 0;
    color: var(--title-color);
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
.header .logo {
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    margin-left: 0;
    margin-right: 93px;
}
.header .logo,
.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-part {
    color: var(--accent-color);
}
.site-nav-list .site-nav-link-current {
    color: var(--accent-color);
}
.main-nav {
    display: flex;
    align-items: center;
}
.site-nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav-link-current,
.site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav-list a {
    color: var(--title-color);
    text-decoration: none;
}
.site-nav-list .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav-list .site-nav-link:hover, 
.site-nav-list .site-nav-link:focus {
    color: var(--accent-color);
}
.site-nav-contact {
    margin-left: auto;
    padding: 0;
    display: flex;
}
.site-nav-contact .item + .item {
    margin-left: 50px;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.hero {
    text-align: center;
    background-color: var(--hero-bg-color)
}
.contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus,
.contact-link:active {
    color: var(--accent-color);
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button {
    display: inline-flex;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--button-hover);
    color: var(--white-color);
}
.section-peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
}
.peculiarities-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.peculiarities-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.peculiarities-list .points:not(:last-child) {
    margin-right: 30px;
}
.peculiarities-item {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.works .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-items {
    display: flex;
    padding: 0;
    margin: 0;
}
.work-items .item {
    padding-bottom: 94px;
    margin-right: 30px;
}
.work-items .item:nth-child(3n) {
    margin-right: 0;
}
.work-items .item img {
    display: block;
    max-width: 100%;
    height: auto;
}
.team {
    background-color: var(--button-bgc-color);
}
.team .section-title {
    padding-top: 94px;
    padding-bottom: 50px;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.members {
    display: flex;
    padding: 0;
    margin: 0;
}
.team-member {
    background-color: var(--white-color);
    margin-right: 30px;
    margin-bottom: 94px;
}
.members .team-member:nth-child(4n) {
    margin-right: 0;
}
.team-member .team-member-name {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team-member .description {
    text-align: center;
}
.team-member-name {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}
.team-member-position {
    margin: 0;
    padding-bottom: 30px;
}
.team-member-position {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.footer {
    display: flex;
    background-color: var(--footer-bg-color);
}
.footer .logo {
    display: flex;
    color: var(--white-color);
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 20px;

}
.adress {
    margin-bottom: 9px;
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-list {
    padding: 0;
    margin: 0;
}
.footer .adress-link {
    display: flex;
    margin-bottom: 9px;
    color: var(--adress-link-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-list:last-child {
    margin-bottom: 60px;
}
.adress-link:hover,
.adress-link:focus,
.adress-link:active {
color: var(--accent-color);
}


/* страница порфолио */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.items {
    width: 370px;
    margin-bottom: 30px;
}
.items:not(:nth-child(3n)) {
    margin-right: 30px;
}
.filter {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 34px;
    margin-top: 94px;
}
.filter-button {
    align-items: center;
    margin-right: 8px;
    color: var(--title-color);
    background-color: var(--button-bgc-color);
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer
}
.filter-button:last-child {
    margin-right: 0;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
    align-items: center;
    margin-bottom: 94px;
    padding: 0;
}
.projects .items {
    flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
    margin: calc(var(--indent) / 2);
}

.prorect-title {
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
    margin: 0;
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-description {
    margin: 0;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.border {
    box-sizing: border-box;
    width: 370px;
    padding: 24px 20px;
    border: 1px solid #EEEEEE;
}